.Navbar {
  width: 100%;
  height: var(--navbar-height);
  padding: 0 20px;
  background-color: var(--inverted-bg-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.links {
  display: flex;
  gap: 15px;
}
